<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Oprdracht over include en require</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        
        <div class="navigation">
        	<nav>
        		<ul>
        			<li class="navInfo">Daily MMO News</li>
        			<li>Nieuws</li>
        			<li>Contact</li>
        			<li>Ons Team</li>

        		</ul>
        	</nav>
        	</div>
        	<br />

        	<h1>Nieuws van de dag!</h1>
        	<p>Llalalalall</p>

        	<footer>
        		<p>Daily MMO geeft u nieuws over MMO's</p>
        	</footer>
        
    </body>
</html>